/*!
 * Autora: Edicarla Silva
 * Created: 2019
 */
/*------------------------------------*\
  Variables
\*------------------------------------*/
$defaultFont: 'Poppins', sans-serif;
$defaultBlue: #4557FF;
$lightBlue: #3440B0;
$darkBlue: #0D0988;
$backgroundGray: #F3F3F3;
$darkGray: #1B1F3A; /*------------------------------------*\
  General
\*------------------------------------*/

body {
  font-family: $defaultFont;
  background-color: $backgroundGray;
}

button.navbar-toggler {
  outline: 0;
}
/*------------------------------------*\
  Home
\*------------------------------------*/

.home {
  .aside--home {
    background: url("../images/bg-home.png");
    background-size: cover;
    height: 446px;
    padding: 0;

    .logo--home {
      width: 150px;
      height: 150px;
      background-color: #FFF;
      -webkit-box-shadow: 0 6px 12px 0 rgba(0,0,0,0.56);
      -moz-box-shadow: 0 6px 12px 0 rgba(0,0,0,0.56);
      box-shadow: 0 6px 12px 0 rgba(0,0,0,0.56);

      img {
        padding: 35px;
      }
    }
  }

  .asideCreate {
    width: 316px;
    height: 273px;
    background: rgb(69,87,255);
    background: -webkit-linear-gradient(rgba(69,87,255,1) 0%, rgba(42,66,235,1) 100%);
    background: -o-linear-gradient(rgba(69,87,255,1) 0%, rgba(42,66,235,1) 100%);
    background: linear-gradient(rgba(69,87,255,1) 0%, rgba(42,66,235,1) 100%);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    transform: translateY(-20%);
    float: right;

    h3 {
      color: #fff;
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      padding-top: 40px;
      padding-bottom: 20px;
    }
    @mixin placeholder-aside {
      color: rgba(255,255,255,.2);
      font-size: 12px;
    }

    input {
      background: rgba(14,16,39,.3);
      border: none;
      outline: 0;
      border-left: 4px solid #FC6106;
      padding: 0 10px;
      height: 42px;
      color: rgba(255,255,255,.7);
      width: 100%;

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        @include placeholder-aside;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        @include placeholder-aside;
      }

      &:-ms-input-placeholder {
        /* IE 10+ */
        @include placeholder-aside;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        @include placeholder-aside;
      }
    }

    .btnSubmeterAside {
      float: right;

      button {
        background-color: #fff;
        border: none;
        height: 64px;
        color: #0D0988;
        font-size: 20px;
        padding: 0 30px;

        &:after {
          content: url("../images/seta-submeter.svg");
          padding-left: 20px;
        }
      }
    }
  }

  .header--home {
    // height: 195px;
    background-color: $defaultBlue;
    webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

    .header__top {
      padding: 40px;

      h2 {
        color: #fff;
        font-weight: 700;
      }

      span {
        color: $darkBlue;
      }

      p {
        font-size: 1rem;
        color: $lightBlue;
        font-weight: 400;
        line-height: 25px;
      }

      .notify {
        font-size: 20px;
      }

      .btn-login {
        border-radius: 16px 16px 16px 0;
        border: 2px solid #fff;
        color: #fff;
        font-size: 0.8rem;
        padding: 5px 15px;

        &:hover {
          text-decoration: none;
          color: $lightBlue;
          border-color: $lightBlue;
        }
      }
    }

    .search {
      transform: translateY(50%);
      margin: 0 40px;
      padding: 20px;
      display: flex;

      .search__icon {
        align-items: center;
        padding: 0 30px;

        i {
          font-size: 30px;
          color: $defaultBlue;
        }
      }

      .search__filter {
        padding: 0 30px;

        .btn-filter {
          background: none;
          color: $darkBlue;
          border-radius: 0;
          border-color: $darkBlue;

          &.dropdown-toggle::after {
            color: #F75002;
            font-size: 14px;
          }
        }

        .dropleft .dropdown-toggle::before {
          color: #F75002;
        }
      }

      %placeholder-search {
        color: $darkGray;
        opacity: 0.3;
        font-size: 20px;
      }

      input {
        border: none;
        flex-grow: 4;
        color: $darkGray;
        opacity: 0.7;
        font-size: 20px;
        outline: 0;

        &::-webkit-input-placeholder {
          @extend %placeholder-search;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          @extend %placeholder-search;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          @extend %placeholder-search;
        }

        &:-ms-input-placeholder {
          @extend %placeholder-search;
        }
      }
    }

    & .card {
      -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
      -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
      box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
      border: none;
      border-radius: 0;
    }
  }

  .lastProjectHome {
    top: 50px;
    position: relative;
    padding: 30px 40px;

    .lastProjectHome__h2 {
      font-weight: 400;
    }

    .lastProjectHome__allBoxes {
      display: flex;
      margin-top: 25px;

      .lastProjectHome__boxe {
        .card {
          -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
          -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
          box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
          border: none;
          border-radius: 0;

          .card-body-main {
            padding: 50px 0;
          }

          .programming-language {
            font-weight: 700;
            color: #FC710B;
            font-size: 15px;
          }

          .card-title {
            a {
              color: #262740;
              font-size: 20px;
              font-weight: 700;

              &:hover {
                text-decoration: none;
                color: #4557FF;
              }
            }
          }

          .card-text {
            font-size: 13px;
            color: #262740;
            opacity: 0.34;
          }

          .keyWords {
            padding-top: 10px;

            .keyWords__item {
              background: rgba(252, 108, 9, 0.2);
              border-radius: 2px;
              font-size: 10px;
              padding: 5px;
              display: inline;

              a {
                color: rgb(252,108,9);

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }

          .footerMeta {
            display: flex;
            justify-content: space-between;

            .allIcons {
              flex-grow: 6;
              display: flex;
            }

            .footerMeta__icon {
              color: #c2c3c7;
              padding-right: 10px;

              a {
                color: #c2c3c7;

                &:hover,
                &active {
                  color: $defaultBlue;
                  text-decoration: none;
                }
              }
            }

            .footerMeta__viewMore {
              a {
                color: #4557FF;

                &:hover {
                  color: #262740;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Media Queries
@media only screen and (max-width: 768px) {
  .aside--home {
    display: none;
  }

  .asideCreate {
    display: none;
  }

  .lastProjectHome__boxe {
    margin: 15px 0;
  }

  .search {
    input {
      flex-grow: 0 !important;
      width: 170px;
    }

    .search__filter {
      display: none;
    }
  }
}
